/* userContainerStyle */
.userContainerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: 0 auto; /* Center the content */
    overflow-y: auto;
  }
  
  /* todoGridStyle */
  .todoGridStyle {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    width: 100%;
  }
  
  /* todoBoxStyle */
  .todoBoxStyle {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  